*{box-sizing: border-box; margin: 0; padding: 0;}
html,body{height: 100%;}

body{
    font-family: "Montserrat",Arial,sans-serif;
    background-color: rgba(199, 213, 236, 0.485);
    background-attachment: fixed;
}

.login-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 0px;
}

.container{
    width: 380px;
    padding: 32px;
    border-radius: 14px;
    background: #ffffff; /* se mudar de ideia, transparente: rgba(255,255,255,0.06);*/
    border: 1px solid rgba(13, 71, 161, 1);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    text-align: center;
}

h1{
    font-size: 30px;
    margin-bottom: 18px;
    color: #0d47a1;
    letter-spacing: 0.5px;
}

form { width:100%; display:flex; flex-direction:column; align-items:center; }

.input-group{
    width: 100%;
    margin-bottom: 16px;
}

.input-field {
    position: relative;
    width: 100%;
}

.input-field i { 
    position:absolute;
    right:16px;
    top: 50%;
    transform:translateY(-50%);
    font-size:20px;
    color: rgba(182, 179, 179, 0.8);
    pointer-events: none;
}

.input-group label{
    display:block;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 14px;
    color:rgba(255,255,255,0.9)
}

.input-group input{
    width:100%;
    padding: 12px 44px 12px 12px;
    border-radius: 28px;
    border: 2px solid rgba(197, 195, 195, 0.8);
    background: rgba(0, 0, 0, 0.04);
    color: #000000;
    font-size:14px;
    outline: none;
}

.input-group input::placeholder{ color: rgba(182, 179, 179, 0.8); }

.input-group i {
    position:absolute;
    right:16px;
    top:50%;
    transform:translateY(-50%);
    font-size:20px;
    color: rgba(182, 179, 179, 0.8);
    pointer-events: none;
    line-height: 1;
}

.options {
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin: 6px 0 15px;
    gap: 2px;
}

.options label{
    display:flex;
    align-items:center;
    gap:4px;
    color: rgba(27, 27, 27, 0.95);
    font-size:13px;
}

.options input[type="checkbox"]{
    width:16px;
    height:16px;
    cursor:pointer;
}

.options .forgot {
    color: rgba(13, 71, 161, 1);
    text-decoration:none;
    font-size:14px;
}

.options .forgot:hover { text-decoration:underline; }

button[type="submit"]{
    width:100%;
    padding:12px;   
    border-radius:28px;
    border:none;
    background:#0d47a1;
    color:#ffffff;
    font-weight:100;
    letter-spacing:0.6px;
    cursor:pointer;
    box-shadow: 0 1px 10px rgb(109, 136, 177);
}
.container p{
    margin-top:16px;
    font-size:14px;
    color: rgb(0, 0, 0);
}

.container p a{
color: #0d47a1;
text-decoration: none;
font-weight:600;
}
.container p a:hover { text-decoration: underline; }

/* Responsivo */
@media (max-width:420px){
  .container { width:92%; padding:22px; }
}

.logo-fixed {
    position: absolute;
    top: -35px;   
    left: 20px;
    width: 180px;
    height: auto;
}

.cabeçalho{
    background-color: #054e97;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
}

.nav-links{
list-style-type:none;
display: flex;
gap: 20px;
margin: 0;
padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 18px;
}