@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

.anime-start {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease-out;
}

.anime-start.anime-end {
    opacity: 1;
    transform: translateY(0);
}

body {
    display: block !important;
    font-family: "Montserrat", Arial, sans-serif;
    background-color: #f8f9fa; /* Cor de fundo caso a imagem falhe */
    overflow-x: hidden; /* Evita rolagem horizontal acidental */
    min-height: 100vh;
}

.logo-fixed {
    position: absolute;
    top: 5px;
    left: 50px;
    width: 90px;
    height: auto;
    z-index: 10;
}

.card-glass {
    background: rgba(255, 255, 255, 0.95) !important;
    border: 1px solid rgba(13, 71, 161, 0.3);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.progress {
            height: 25px;
            border-radius: 15px;
            background-color: #e9ecef;
        }
        .progress-bar {
            font-weight: bold;
            line-height: 25px;
        }
        .table-hover tbody tr:hover {
            background-color: rgba(13, 110, 253, 0.02);
        }

        .btn-custom-primary {
    background-color: #0d47a1;
    color: white;
    padding: 10px 24px;
    border-radius: 50px;
    font-weight: 600;
    box-shadow: 0 4px 15px rgba(13, 71, 161, 0.3);
    transition: all 0.2s ease;
    border: none;
}

.btn-custom-primary:hover {
    background-color: #083275;
    transform: translateY(-2px);
    color: white;
}

.search-bar-container input {
    font-family: "Montserrat", sans-serif;
    font-size: 0.95rem;
}

.search-bar-container input:focus {
    box-shadow: none;
}

.card-glass {
    background: rgba(255, 255, 255, 0.95); /* Fundo branco semi-transparente */
    border: 1px solid rgba(13, 71, 161, 0.1); /* Borda azul muito sutil */
    box-shadow: 0 10px 30px rgba(0,0,0,0.05); /* Sombra suave */
    
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.card-glass:hover {
    transform: translateY(-5px); /* Levanta levemente ao passar o mouse */
    border-color: rgba(13, 71, 161, 0.3);
}

/* Adiciona uma borda à direita da hora apenas em telas médias e grandes */
@media (min-width: 768px) {
    .border-end-md {
        border-right: 2px solid #eee !important;
    }
}

.icon-box {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-box {
    line-height: 1.2;
}

.text-muted {
    color: #6c757d !important;
}